.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  min-height: 100vh;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 87%;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 15px;
}

.faqs-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}

.heading {
  color: #cb8805;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
